<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coding.zxm.libnet">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <!--电影-->
        <activity
            android:name=".ui.MovieActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--电影详情页-->
        <activity
            android:name=".ui.MovieWebActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--图片测试-->

    </application>

</manifest>
