<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coding.zxm.lib_queue">

    <application>
        <activity
            android:name=".LinkeBlockingQueueActivity"
            android:screenOrientation="portrait" />

        <service android:name=".polling.TaskService" />
    </application>
</manifest>
