<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zxm.coding.lib_stacking">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".ui.StackingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
    </application>
</manifest>
