<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coding.zxm.libimage">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--加载本地图片-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--缓存图片-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name=".BitmapActivity"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor" />
    </application>
</manifest>
