<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.coding.zxm.android_tittle_tattle">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.BaseApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ui.HomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--线程相关-->
        <activity
            android:name=".ui.thread.ThreadActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--IntentService-->
        <activity
            android:name=".ui.thread.IntentServiceActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <service android:name=".service.ProgressService" />

        <!--线程池-->
        <activity
            android:name=".ui.thread.ThreadPoolActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--CountDownLatch-->
        <activity
            android:name=".ui.thread.CountDownLatchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--原生数据库-->
        <activity
            android:name=".ui.sql.OriginalSqlActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--RxJava1-->
        <activity
            android:name=".ui.rxjava.RxJava1Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--对象池-->
        <activity
            android:name="com.coding.zxm.lib_pool.ui.ObjectPoolActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--loading-->
        <activity android:name=".ui.loading.LoadingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

    </application>

</manifest>