<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zxm.coding.lib_database">

    <application>
        <!--原生数据库-->
        <activity
            android:name="com.zxm.coding.lib_database.OriginalSqlActivity"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor" />
    </application>
</manifest>
